version: "3.9"

services:
  backend:
    container_name: backend-api
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./vink-testik.json:/app/vink-testik.json
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 30s
      timeout: 10s
      retries: 3
