version: "3.9"

services:
  backend:
    container_name: backend
    build: .
    ports:
      - "80:8000"
    env_file:
      - .env
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 30s
      timeout: 10s
      retries: 3
