name: CI/CD FastAPI

on:
  push:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        env:
          TESTING: "True"
        run: |
          python -m pytest || exit 1


  deploy:
    needs: ci
    runs-on: ubuntu-latest
    if: success()

    steps:
      - name: Deploy to GCP VM via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            set -e
            cd /var/www/vink-server
            git fetch origin main
            git reset --hard origin/main
            # Using up -d --build to rebuild images and restart containers minimal downtime
            docker compose up -d --build
            # Clean up unused images to save disk space
            docker image prune -f
